/* Inter & Bai Jamjuree fonts */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.slick-dots li button {
  border: 1px solid #e89f71 !important;
  border-radius: 50%;
  vertical-align: middle;
}

.slick-dots li button::before {
  font-size: 12px !important;
  color: #e89f71 !important;
}
